@font-face {
  font-family: "Caviar";
  src: url("../fonts/CaviarDreams.ttf");
}


body {
  background-color: #1f1f1f;
  font-family: "Caviar";
  min-width: fit-content;
  overflow-x: hidden;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 15px;
  z-index: 2;
  position: fixed;
  width: 100%;

}

.nav-link {
  color: white;
}

.nav-link:focus,
.nav-link:hover,
.selected {
  color: rgb(254, 136, 39);
}

section {
  margin-bottom: 10vh;
}

.section-title {
  margin-top: 10px;
  background: rgb(254, 136, 39);
  background: linear-gradient(90deg, rgba(254, 136, 39, 1) 80%, rgba(31, 31, 31, 1) 100%);
  font-weight: bold;
  padding: 10px 10px 10px 15px;
  color: #1f1f1f;
}

.section-title-white {
  margin-top: 10px;
  background: white;
  background: linear-gradient(90deg, rgba(255,255,255, 1) 80%, rgba(31, 31, 31, 1) 100%);
  font-weight: bold;
  padding: 10px 10px 10px 15px;
  color: rgb(254, 136, 39);
}

.section-text {
  color: whitesmoke;
  padding: 25px;
  margin: 10px;
  border-radius: 10px;
  text-align: justify;
}

.row {
  margin: 0;
}

.section-item {
  margin: 10px;

  border-radius: 15px;
  color: rgb(254, 136, 39);
  padding: 15px;
  font-weight: bold;
}

.section-item p {
  color: white;
  text-align: justify;
}

.paragraph{
  color: whitesmoke;
  padding: 25px;
  margin: 10px;
  text-align: justify;

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #1f1f1f;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgb(254, 136, 39);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(197, 105, 29);
}

.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner video {

  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.banner .content {
  position: absolute;
  max-width: 100vw;
}

.banner .content img {
  max-height: 25vh;
  max-width: 100vw;
}

.card-text {
  padding: 15px;
  font-weight: bold;
}

.dropdown-menu {
  background-color: #212529;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: rgb(254, 136, 39);
  color: #000000;
  font-weight: bold;
}

.img-card {
  display: flex;
  justify-content: center;
  align-items: center;
}


.img-card img {
  height: 100px;
  width: 100px;
}

.offset:before {
  display: block;
  content: " ";
  height: 10vh;
  /* Give height of your fixed element */
  margin-top: -10vh;
  /* Give negative margin of your fixed element */
  visibility: hidden;
}

.services{
  display: flex;
  padding: 20px 10px 20px 40px;
  text-align: center;
}


.service-img img{
  margin-right: 20px;
  height: 50px;
  width: 50px;
}

.service-title{
  color: white;
  font-size: larger;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.center{
  padding: 10px;
  margin: auto;
}


.info-anac{
  padding: 10px;
  color: white;
  text-align: center;
}

.info-anac img{
  padding: 10px;
  width: 150px;
  height: 150px;
}

.instagram-video{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.contact-img{
  width: 100px;
}

.contacts{
  padding: 20px;
  text-align: center;
  
}

.contact{
  margin-bottom:20px;
  margin-top: 20px;
}

.contacts a, .contact a{
  text-decoration: none;
  color: white;
}

